[submodule "FusionFilter"]
	path = FusionFilter
	url = https://github.com/FusionFilter/FusionFilter.git
[submodule "FusionAnnotator"]
	path = FusionAnnotator
	url = https://github.com/FusionAnnotator/FusionAnnotator.git
[submodule "FusionInspector"]
	path = FusionInspector
	url = https://github.com/FusionInspector/FusionInspector.git
[submodule "ctat-minimap2"]
	path = ctat-minimap2
	url = https://github.com/TrinityCTAT/ctat-minimap2.git
[submodule "CTAT-LR-fusion.wiki"]
	path = CTAT-LR-fusion.wiki
	url = https://github.com/TrinityCTAT/CTAT-LR-fusion.wiki.git
